# IS362 Assignment Week 5
Your task in this week’s assignment is to answer three questions: 
1. What is the northernmost airport in the United States? 
2. What is the easternmost airport in the United States? 
3. On February 12th, 2013, which New York area airport had the windiest weather?

Use the information in the .CSV files found at https://github.com/hadley/nycflights13/tree/master/data-raw for your source data.

### 1. Nothernmost Airport
The CSV file located at https://github.com/tidyverse/nycflights13/blob/master/data-raw/airports.csv contains airport location information, by latitude and longitude. The northernmost locations will have higher degree values of latitude. Pandas can be used to sort the data to find the highest degree of latitude in the dataset.

##### First, the pandas module is loaded, followed by the raw CSV file:

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)

aports = pd.read_csv('https://raw.githubusercontent.com/tidyverse/nycflights13/master/data-raw/airports.csv')

#### With the data loaded, pandas can be instructed to retrieve the highest Latitude value in the list:

In [2]:
aports.sort_values(by = ['lat'], ascending = False)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu

#### The northermost airport, according to this data is *Dillant Hopkins Airport*.

### 2. Easternmost Airport
A similar approach can be taken to find the easternmost airport, using the same dataset. This time, however, the logitude values will be used:

In [3]:
aports.sort_values(by = ['lon'], ascending = False)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage

#### The easternmost airport, according to this data is *Eareckson Air Station*

### 3. Windiest Weather
The dataset located at https://github.com/tidyverse/nycflights13/blob/master/data-raw/weather.csv contains weather
information for the airports. Like the previous questions, pandas can be used to sort the data to find the answer.

First, the CSV file is loaded:

In [4]:
weather = pd.read_csv('https://raw.githubusercontent.com/tidyverse/nycflights13/master/data-raw/weather.csv')

Now the data can be sorted by the values that will be needed, such as the *day/month/year* and *wind speed*, using pandas:

In [5]:
weather[(weather["year"] == 2013) & (weather["month"] == 2) & (weather["day"] == 12)].sort_values(by = ["wind_speed"], ascending = False)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,NaN,0.0,1006.9,10.0,2013-02-12T05:00:00Z
1027,EWR,2013,2,12,21,35.96,24.08,61.67,300.0,5.75390,NaN,0.0,1013.0,10.0,2013-02-13T02:00:00Z
18415,LGA,2013,2,12,0,42.08,37.40,86.89,NaN,4.60312,NaN,0.0,NaN,10.0,2013-02-12T05:00:00Z
9709,JFK,2013,2,12,0,42.08,37.04,82.17,280.0,4.60312,NaN,0.0,1007.1,10.0,2013-02-12T05:00:00Z
1029,EWR,2013,2,12,23,35.96,23.00,58.94,250.0,4.60312,NaN,0.0,1013.7,10.0,2013-02-13T04:00:00Z

#### According to the data, Newark Liberty International Airport had the windiest weather on February 12th, 2013.